
.owl-company {
    .owl-dots {
        position: absolute;
        bottom: 10%;
        right: 4%;
        button {
            outline: none;
            span {
                width: 30px !important;
                height: 6px !important;
                background-color: #fff !important;
                border-radius: 0 !important;
                margin: 0 5px !important;
                -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
            }
        }
        .owl-dot.active span {
            background-color: #f82d28 !important;
        }
    }
}