.footer{
        background-color: rgb(31, 33, 39);
        height: 80px;
        .copyright{
            p{
                color: #fff;
                height: 80px;
                display: flex;
                align-items: center;
                margin-bottom: 0;
            }
        }
        .footer-links{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 80px;
            a{
                    margin-right: 15px;
                i{
                        font-size: 16px;
                        color: rgb(255, 255, 255);    
                        border-radius: 50%;
                        background-color: rgb(47, 51, 59);
                        width: 42px;
                        height: 42px;     
                        display: flex;
                        align-items: center;
                        justify-content: center;
                }
            }
        }
}

@media screen and (max-width:576px){
    .footer{
        height: auto;
        padding-top: 15px;
        .copyright{
            p{
                height: auto;
                font-size: 15px;
                br{
                    display: none;
                }
            }
        }
        .footer-links{
            justify-content: center;
        }
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .footer{
        height: auto;
        .copyright{
            padding-top: 15px;
            p{
                height: auto;
                font-size: 15px;
                br{
                    display: none;
                }
            }
        }
    }
}