body {
    font-family: 'Roboto';
    background-color: #292a2a;
}

.container {
    max-width: 1330px;
}

a {
    text-decoration: none;
    &:focus {
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
    }
}

.btn {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.header {
    background-color: rgb(36, 39, 46);
    height: 80px;
    .header-links {
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: space-evenly;
        li {
            list-style-type: none;
            a {
                font-size: 14px;
                font-family: "Roboto";
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                line-height: 1.2;
                &:hover {
                    color: #ED1C24;
                    transition: .75s;
                }
                .home-image {
                    margin-right: 12px;
                }
            }
        }
    }
    .language {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        a {
            font-size: 14px;
            font-family: "Roboto";
            color: rgb(93, 99, 113);
            line-height: 1.2;
            margin-right: 18px;
            &:hover {
                color: #Fff;
            }
        }
        .lang-active {
            color: #fff;
            position: relative;
            &::before {
                content: '';
                width: 2px;
                height: 12px;
                position: absolute;
                left: -10px;
                background-color: rgb(93, 99, 113);
            }
            &::after {
                content: '';
                width: 2px;
                height: 12px;
                position: absolute;
                right: -10px;
                background-color: rgb(93, 99, 113);
            }
        }
    }
    .burger-menu {
        display: none;
    }
    .burger-menu-image {
        img {
            position: absolute;
            top: 0;
            right: 1rem;
        }
        display: none;
    }
    .burger-menu-btn {
        width: 3rem;
        height: 2.5rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all 1s ease;
        z-index: 999;
        position: relative;
        display: none;
    }
    .burger-menu-lines,
    .burger-menu-lines::after,
    .burger-menu-lines::before {
        position: absolute;
        width: 2rem;
        height: 5px;
        background-color: #ED1C24;
    }
    .burger-menu-lines {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
    }
    .burger-menu-lines::after {
        content: "";
        top: -12px;
        transition: all 0.5s ease;
    }
    .burger-menu-lines::before {
        content: "";
        top: 12px;
        transition: all 0.5s ease;
    }
    .burger-menu-lines-active .burger-menu-lines {
        background-color: transparent;
    }
    .burger-menu-lines-active .burger-menu-lines::before {
        top: 0;
        transform: rotate(-45deg);
    }
    .burger-menu-lines-active .burger-menu-lines::after {
        top: 0;
        transform: rotate(45deg);
    }
    .nav-panel-mobil {
        position: fixed;
        left: 0;
        background-color: #fff;
        height: 100vh;
        z-index: 99;
        transition: 0.5s;
        width: 100%;
        text-align: center;
        transform: translateX(-100%);
        font-size: 20px;
        font-weight: bold;
        padding-top: 1rem;
        top: 0;
        display: flex;
        align-items: center;
    }
    .nav-panel-mobil {
        nav {
            ul {
                li {
                    font-family: 'Roboto';
                    margin-bottom: 15px;
                    a {
                        color: #24272e;
                    }
                }
                select {
                    width: 64px;
                }
            }
        }
    }
    .nav-panel-mobil-active {
        transform: translateX(0);
    }
}

@media screen and (max-width:576px) {
    .header {
        position: relative;
        .burger-menu-btn {
            display: block;
        }
        .header-links {
            display: none;
        }
        .language {
            display: none;
        }
        .logo {
            display: none;
        }
        .burger-menu-content {
            position: absolute;
            top: 1.2rem;
            left: 1rem;
        }
        .burger-menu-image {
            display: block;
        }
        .nav-panel-mobil-active {
            .nav-mobile {
                .nav-item {
                    img {
                        margin-top: -7px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .header {
        position: relative;
        .burger-menu-btn {
            display: block;
        }
        .header-links {
            display: none;
        }
        .logo {
            display: none;
        }
        .burger-menu-content {
            position: absolute;
            top: 1.2rem;
            left: 1rem;
        }
        .burger-menu-image {
            display: block;
        }
        .nav-panel-mobil-active {
            .nav-mobile {
                .nav-item {
                    img {
                        margin-top: -7px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}