@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf)
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../font/Roboto-Bold.ttf)
}

.title {
    padding-bottom: 1rem;
    color: #fff;
}