.catalog{
    .row{
        width: 100%;
        margin: 0;
    }
    .category-bg{
        .categories-inner{
            border-bottom: 0 !important;
            h1{
                color: #fff !important;
            }
        }
    }
    .catalog-btn{
        display: none;
    }
    .catalog-left{
        background: rgb(32, 33, 33);
        height: 100%;
        padding-bottom: 40px;
        .catalog-list{
            display: flex;
            flex-direction: column;
            padding: 0 30px 0 60px;
            .category-title{
                color: #2d98bc;
                margin-top: 30px;
                text-transform: uppercase;
            }
            .active-category{
                color: #2d98bc;
            }
            a{
                color: #c1bfbf;
                font-size: 16px;
                &:hover{
                    color: rgb(96, 201, 237);
                }
            }
            span{
                color: #c1bfbf;
                font-size: 16px;
                padding-bottom: 5px;
                border-bottom: 1px solid #444;
                width: 100%;
                margin-bottom: 15px;
                margin-top: 17px;
            }
        }
    }
    .categories{
        padding-left: 40px;
        background-color: #292A2A;
        height: 100%;
        padding-top: 20px;
       .categories-inner{
        padding-bottom: 40px;
        border-bottom: 1px solid rgb(63, 64, 64);
        width: 96%;
        h1{
            font-size: 32px;
            color: rgb(96, 201, 237);
            line-height: 1.2;
            padding-top: 40px;
            margin-bottom: 17px;
    }
        .category-product{
            background-color: rgb(25, 26, 26);
            width: 215px;
            height: 238px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .category-text{
                padding: 0 20px;
                text-align: center;
                a{
                        font-size: 16px;
                        color: rgb(255, 255, 255);
                        line-height: 1.2;
                        text-align: center;
                }
            }
    }
       }
       .categories-inner-bottom{
           border: none;
       }
    }
}

@media screen and (max-width:576px){
    .catalog{
        #catalog{
            .modal-header{
                background-color:#202121;
                color: #2d98bc;
                border-bottom:0 !important;
                .close{
                    span{
                        color: #2d98bc;
                    }
                }
            }
            .catalog-left{
                .catalog-list{
                    padding: 0 1rem;
                }
            }
        }
        .catalog-btn{
            display: block;
            background: #292A2A;
            width: 100%;
            border-radius: 0;
            color: #60c9ed;
            font-family: 'Roboto';
            font-size: 20px;
            text-align: left;
            padding-left: 1.5rem;
            text-transform: uppercase;
        }
        .catalog-desktop{
            display: none;
        }
        .categories{
            padding-left: 1.5rem;
            padding-top: 10px;
            .categories-inner{
                h1{
                    padding-top: 10px;
                    font-size: 17px;
                    padding-left: 1.3rem;
                }
                .category-product{
                    width: 100%;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .catalog{
        #catalog{
            .modal-header{
                background-color:#202121;
                color: #2d98bc;
                border-bottom:0 !important;
                .close{
                    span{
                        color: #2d98bc;
                    }
                }
            }
            .catalog-left{
                .catalog-list{
                    padding: 0 1rem;
                }
            }
        }
        .catalog-btn{
            display: block;
            background: #292A2A;
            width: 100%;
            border-radius: 0;
            color: #60c9ed;
            font-family: 'Roboto';
            font-size: 20px;
            text-align: left;
            padding-left: 2.7rem;
            text-transform: uppercase;
        }
        .catalog-desktop{
            display: none;
        }
        .categories{
            padding-left: 1.5rem;
            padding-top: 10px;
            .categories-inner{
                padding-bottom: 15px;
                h1{
                    padding-top: 15px;
                    font-size: 17px;
                    padding-left: 1.3rem;
                }
                .category-product{
                    width: 100%;
                    margin-bottom: 15px;
                }
            }
        }
    }
}