.product {
    .product-inner{
        padding-top: 2rem;
      .product-row{
          border-bottom: 1px solid #fff;
          padding-bottom: 40px;
      }
          
        .product-image {
            position: relative;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
           
            img {
                width: 300px;
                height: 460px;
                margin-left: auto;
            }
            p{
                    font-size: 14px;
                    color: rgb(255, 255, 255);
                    line-height: 1.571;   
                    text-align: center;  
                    margin-top: 20px;   
            }
            .product-sub {
                position: absolute;
                bottom: 38px;
                width: 120px;
                height: 120px;
                left: -22px;
                img {
                    width: 120px;
                    height: 120px;
                    position: relative;
                }
    
                span {
                    position: absolute;
                    font-size: 13.5px;
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1.2;
                    width: 120px;
                    left: 1.2rem;
                    top: 2.4rem;
                }
            }
        }
        .product-content{
            h1{
                    font-size: 23px !important;
                    color: rgb(255, 255, 255);
                    line-height: 0.931;   
                    padding: 0 !important;        
            }
            p{
                    font-size: 14px;
                    color: rgb(255, 255, 255);
                    line-height: 1.571;
                    img{
                        margin-right: 10px;
                    }
            }
            .list-group{
                flex-direction:  row !important;
                a{
                    width: fit-content;
                }
                .list-group-item{
                    padding: 0.75rem 1rem;
                    background-color: transparent;
                    border-color: none !important;
                    border: none;
                    border-radius: 0; 
                    color: #fff;
                    text-transform: uppercase;
                }
                .active{
                        background-color:#9BB35C;
                        border: none !important;    
                        color: #fff;       
                }
            }
            .tab-content{
                .tab-pane{
                    padding: 30px 25px;
                }
                .active{
                    background-color:#9BB35C;
                        border: none !important;    
                        color: #fff; 
                }
            }
        }
        .other-products{
            h1{
                    font-size: 24px;
                    color: rgb(255, 255, 255);
                    line-height: 1.2;
                    text-align: center;   
                    margin-bottom: 30px;       
            }
            .other-products-slider{
                width: 96%;
                margin: 0 auto;
                .product-slide{
                    .category-product{
                        width: 205px !important; 
                    }
                }
                .slick-prev-btn{
                    position: absolute;
                    left: -2.4rem;
                    top: 31%;
                }
                .slick-next-btn{
                    position: absolute;
                    right: -2.4rem;
                    top: 31%;
                }
                .slick-dots {
                    bottom: -50px;
                    .slick-active{
                        button{
                            &::before{
                                content:'';
                                background-color: #fff;
                            }
                        }
                    }
                    li {
                        
                        button{
                            &::before{
                                content:'';
                                width: 8px;
                                height: 8px;
                                border: 1px solid #fff;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
        
    }
}


@media screen and (max-width:576px){
    .product {
        .product-inner {
            .product-content {
                .list-group {
                    .list-group-item{
                        padding: 0.75rem 0.3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                    }
                }
            }
            .other-products {
                padding-bottom: 2rem;
                h1{
                    font-size: 20px;
                    padding-top: 15px;
                }
                .other-products-slider{
                    .product-slide {
                        .category-product{
                            width: 90% !important;
                            margin: 0 auto;
                        }
                    }
                    .slick-prev-btn{
                        left: -1rem;
                    }
                    .slick-next-btn{
                        right: -1rem;
                    }
                }
            }
            .product-image{
                img{
                    width: 90%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .product {
        .product-inner {
            .product-image{
                img{
                    width: 281px;
                    height: 454px;
                }
            }
            .product-content{
                .list-group {
                    .list-group-item{
                        padding: 0.75rem 0.5rem;
                    }
                }
            }
           .other-products {
            .other-products-slider {
                padding-bottom: 2rem;
                .slick-dots{
                    bottom: -10px;
                }
                .slick-next-btn{
                    right: -1.3rem;
                }
                .slick-prev-btn{
                    left: -1.3rem;
                }
                .product-slide {
                    .category-product{
                        margin: 0 auto;
                    }
                }
            }
           }
        }
    }
}