.company {
    position: relative;
    .company-description {
        max-width: 45%;
        height: 100%;
        position: absolute;
        z-index: 9;
        padding: 60px;
        background: rgba(32, 33, 33, 0.8);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            text-align: justify;
            font-size: 15px;
            color: #fff;
        }
        h4 {
            text-align: center;
            font-style: italic;
        }
    }
}

@media only screen and (max-width:1024px) {
    .company {
        .company-description {
            position: static;
            max-width: 100%;
            padding: 20px !important;
        }
    }
}