.contacts {
    color: #c1bfbf;
    padding: 2rem 0 80px;
    .title {
        color: #c1bfbf;
    }
    strong {
        display: block;
    }
    .contacts-bottom {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
        border-top: 1px solid #3f3f3f;
        .contact-text {
            font-size: 15px;
        }
        .blue-text {
            font-size: 18px;
            color: #63cff3;
            padding-bottom: 5px!important;
            margin-bottom: 0;
        }
    }
    .contact-form {
        margin: 40px 0;
        padding: 30px 20px;
        background-color: #333;
        label {
            position: relative;
            display: block;
            &::after {
                content: '*';
                color: red;
                margin-left: 5px;
            }
        }
        input {
            border-radius: 5px;
            border: none;
        }
        textarea {
            width: 100%;
            border-radius: 5px;
            border: none;
        }
    }
    input[type="submit"] {
        color: #c1bfbf!important;
        border: 1px solid #c1bfbf!important;
        border-radius: 2px;
        padding: .3em 1em;
        background-color: transparent;
        &:hover {
            background-color: #3ea3d2!important;
            color: #fff !important;
            border: 1px solid #3ea3d2!important;
        }
        &:focus {
            outline: none;
        }
    }
}

@media only screen and(max-width: 576px) {
    .contacts {
        .contact-form {
            input {
                width: 100%;
                margin-bottom: 1rem;
            }
        }
    }
}