.news-inner {
    .news-content {
        img {
            width: 100%;
            margin-bottom: 40px;
        }
    }
    .news-inner-bottom {
        padding-bottom: 30px;
        border-bottom: 1.5px solid #aaa;
        .entry-categories {
            display: flex;
            color: #fff;
            align-items: center;
            flex-wrap: wrap;
            p {
                font-size: 13px;
                margin: 0;
            }
            span {
                font-size: 11px;
                background-color: #e31e25;
                border-radius: 20px;
                margin-left: 10px;
                font-weight: 600;
                padding: 5px 10px;
                a {
                    transition: all .5s ease;
                    color: #fff;
                    &:hover {
                        opacity: .75;
                    }
                }
            }
        }
        .icon-link {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a {
                color: #fff;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;
                &:nth-child(1) {
                    background-color: #3b5998;
                }
                &:nth-child(2) {
                    background-color: #55acee;
                }
                &:nth-child(3) {
                    background-color: #dd4b39;
                }
            }
        }
    }
    .news-comment {
        padding-top: 120px;
        .title {
            text-align: center;
            margin-bottom: 20px;
        }
        form {
            .form-input {
                display: flex;
                justify-content: space-between;
                .input-label {
                    width: 30%;
                    input {
                        width: 100%;
                    }
                }
            }
            .textarea-comment {
                margin-top: 50px;
                min-height: 130px;
                .input-label {
                    width: 100%;
                }
                textarea {
                    background-color: transparent;
                    border: none;
                    width: 100%;
                    min-height: 130px;
                    color: #fff;
                    border-bottom: 1.5px solid #aaa;
                    &:focus {
                        outline: none;
                    }
                }
                label {
                    top: 0;
                }
                &:focus-within {
                    label {
                        top: -20px;
                        font-size: 12px;
                        color: #969696;
                    }
                }
                input {
                    &:valid~label {
                        top: -20px;
                        font-size: 12px;
                        color: #969696;
                    }
                }
                .bottom-line {
                    bottom: 6px;
                }
            }
        }
    }
}

.tooltip-inner {
    background-color: #fff;
    color: #333;
    -webkit-box-shadow: 0 0 .9375rem rgba(0, 0, 0, .25);
    ;
    box-shadow: 0 0 .9375rem rgba(0, 0, 0, .25);
    border-radius: 3px;
    padding: .8rem .75rem;
    font-size: 12px !important;
    margin-bottom: 10px;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #fff !important;
    margin-bottom: 15px;
    top: -10px;
}