.news {
    padding: 50px 0;
    .news-left {
        position: sticky;
        top: 1rem;
    }
    .news-link {
        margin-top: 60px;
        a {
            color: #fff;
            font-size: 14px;
            transition: all .5s ease;
            &:hover {
                color: #e31e25;
            }
        }
        ul {
            padding-left: .7rem;
            li {
                list-style-type: none;
                margin-top: 1rem;
            }
        }
        .archives {
            margin-top: 2rem;
            h5 {
                font-weight: bold;
                color: #fff;
            }
            select {
                margin-top: 1rem;
                -webkit-appearance: none;
                width: 95%;
                padding: .5rem;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .title {
        text-transform: uppercase;
    }
    .news-card {
        margin-bottom: 2rem;
        img {
            width: 100%;
        }
        a {
            color: #fff;
            font-weight: bold;
            margin: 10px 0 15px;
            display: inline-block;
            transition: all .5s ease;
            &:hover {
                opacity: .75;
            }
        }
        .news-card-link {
            display: flex;
            flex-wrap: wrap;
            span {
                font-size: 12px;
                color: #fff;
                position: relative;
            }
            .line {
                margin: 0 5px;
            }
            a {
                color: #41b7d8;
                font-size: 12px;
                font-weight: 100;
                margin: 0 !important;
                transition: all .5s ease;
                &:hover {
                    color: #e31e25 !important;
                    opacity: .75;
                }
            }
        }
    }
}

.search {
    display: flex;
    align-items: baseline;
    .search-btn {
        border: none;
        background-color: #e31e25;
        width: 45px;
        height: 45px;
        border-radius: 5px;
        margin-left: 15px;
        i {
            color: #fff;
            font-weight: 600;
        }
    }
}
.input-label {
    position: relative;
    align-items: baseline;
    height: 100%;
    width: 70%;
    label {
        transition: all .5s ease;
        position: absolute;
        left: 0;
        top: 25%;
        pointer-events: none;
        cursor: text;
        color: #aaa;
        font-size: 13px;
    }
    &:focus-within {
        .bottom-line {
            transform: scale(1) !important;
        }
    }
    &:focus-within {
        label {
            top: -13px;
            font-size: 12px;
            color: #969696;
        }
    }
    input {
        background-color: transparent;
        border: none;
        border-bottom: 1.5px solid #aaa;
        color: #fff;
        transition: all .5s ease;
        width: 100%;
        padding-bottom: 7px;
        &:focus {
            outline: none;
        }
        &:valid~label {
            top: -13px;
            font-size: 12px;
            color: #969696;
        }
    }
    .bottom-line {
        width: 100%;
        height: 2px;
        background-color: red;
        display: block;
        position: absolute;
        bottom: 0;
        transition: all .5s ease;
        transform: scale(0);
    }
}

@media only screen and (max-width: 768px) {
    .news-left {
        margin-bottom: 80px;
        padding: 0 20px;
    }
    .input-label {
        width: 100% !important;
    }
    .news-inner {
        .news-inner-bottom {
            .entry-categories {
                align-items: baseline !important;
            }
            span {
                margin-bottom: 20px;
            }
            .icon-link {
                justify-content: flex-start !important;
            }
        }
        .news-comment {
            .title {
                h3 {
                    font-size: 20px;
                }
            }
            form {
                .form-input {
                    display: block !important;
                    .input-label {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}