.vacancies {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin-bottom: 40px;
    .vacancies-content {
        background-color: #fff;
        border: 1px solid #e31e25;
        min-width: 200px;
        padding: 15px;
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style-type: none;
                margin-bottom: .5rem;
                span {
                    font-size: 12px;
                    color: #858585;
                    line-height: 18px;
                }
            }
        }
        a {
            display: block;
            font-weight: bold;
            text-overflow: ellipsis;
            margin-bottom: 2px;
            color: #e31e25;
        }
    }
}