.where-buy{
    background-color: #292a2a;
    padding: 2em ;
    h1{
        font-size: 2em;
        color: #fff;
        padding: .67em 0;
    }
    h2{
        font-size: 1.5em;
        margin: .83em 0;
        color: #fff;
    }
    .buy-left{
        padding-bottom: 50px;
        border-bottom: 1px solid #3f3f3f;
        .city-select{
            padding-bottom: 0.8em;
            select{
                width:  206px;
                font-size:  17px;
                background: #353533;
                color: white;
                padding: 5px 5px 5px 5px;
            }
        }
        .brands-wrapper{
            display: flex;
            flex-wrap: wrap;
            .brands-item{
                width: calc(20% - 20px);
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    border: 5px solid #212222;
                    &:hover{
                        transform: scale(0.8);
                        transition: 1s ease;
                    }
                }
            }
            .special-brands{
                img{
                    border: none;
                    width: auto;
                    height: auto;
                    border-radius:0;
                }
                a{
                    color: #63cff3;
                    font-size: 15px;
                }
            }
        }
       
    }
    #map{
        width: 620px;
        height: 620px;
    }
}


@media screen and (max-width:576px){
    .where-buy{
        padding: 1rem;
        h2{
            font-size: 1.2em;
        }
        .buy-left {
            .brands-wrapper {
                justify-content: space-between;
                .brands-item{
                    width: calc(33.3% - 20px);
                    
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
        #map{
            width: 100%;
            height: 400px;
        }
    }
}


@media screen and (min-width:768px) and (max-width:1024px){
    .where-buy{
        padding: 1rem;
        .buy-left {
            .brands-wrapper {
                justify-content: space-between;
                .brands-item{
                    width: calc(33.3% - 20px);
                }
            }
        }
        #map{
            width: 100%;
            height: 500px;
        }
    }
}